@page "/"
<link href="~/arohi.css" rel="stylesheet" />

<style>
    p {
        font-size: 1.25rem !important;
        color: black !important;
    }

    h1 {
        font-size: 4.5rem !important;
        color: #0e0752 !important;
        font-variant: small-caps;
    }

    h2 {
        font-size: 1.5rem !important;
        color: #1c0c96 !important;
        font-family: fangsong;
        font-variant: small-caps;
    }
</style>
<section class="about text-center">
    <div class="row mt-4">
        <div class="col-md-2 text-center">
            <img src="logo2.png" alt="Arohi Trading Logo" class="img-fluid"  />
        </div> 
        <div class="col-md-10">
            <h1>Welcome to Arohi Group</h1>
            <p>
                Arohi Group is a trusted name in high-quality construction materials and steel works.
                We specialize in steel gates, railings, PVC pipes, water summer systems, and cement supplies.
            </p>    
        </div>
    </div>
        
</section>

<section class="divisions container text-center">
    <h2>Our Divisions</h2>
    <div class="row mt-4">
        <div class="col-md-6 p-2">
            <div class="card shadow-sm">
                <img src="steel.jpg" class="card-img-top" alt="Steel Works">
                <div class="card-body">
                    <h2>Arohi Steel Works</h2>
                    <p>Experts in steel gates, railings, glass, and wooden gate designs.</p>
                </div>
                 <section class="contact bg-light text-center p-4">
                        <h2>Contact Us</h2>
                        <p>
                            
                            👤 Name: Jagmohan Singh  📞 Phone: +91 7451947767<br />
                           
                            📍 Location: Opposite of TVS Agency Fariha, Firozabad
                        </p>
                 </section>
            </div>
        </div>
        <div class="col-md-6 p-2">
            <div class="card shadow-sm">
                <img src="pvc.jpg" class="card-img-top" alt="PVC Pipe and Summer">
                <div class="card-body">
                    <h2>Arohi PVC Pipe & Summer</h2>
                    <p>Durable PVC pipes and reliable summer water systems.</p>
                </div>
                <section class="contact bg-light text-center p-4">
                        <h2>Contact Us</h2>
                        <p>
                            
                            👤 Name: Shyamveer Singh  📞 Phone: +91 9897525658<br />
                           
                            📍 Location: Near Indian Oil Petrol pump Fariha, Firozabad
                        </p>
                 </section>
            </div>
        </div>
     </div>
     <div class="row mt-4">
        <div class="col-md-6 p-2">
            <div class="card shadow-sm">
                <img src="balu.jpg" class="card-img-top" alt="Balu Cement Store">
                <div class="card-body">
                    <h2>Arohi Balu Cement Store</h2>
                    <p>Your trusted source for quality cement and construction materials.</p>
                </div>
                <section class="contact bg-light text-center p-4">
                    <h2>Contact Us</h2>
                    <p>

                        👤 Name: Shyamveer Singh  📞 Phone: +91 9897525658<br />
                       
                        📍 Location: Near Indian Oil Petrol pump Fariha, Firozabad
                    </p>
                </section>
            </div>
        </div>
        <div class="col-md-6 p-2">
            <div class="card shadow-sm">
                <img src="steel.jpg" class="card-img-top" alt="Steel Works">
                <div class="card-body">
                    <h2>Arohi Traders & belding Workshop</h2>
                    <p>Experts in iron gates, railings, glass, and iron pipe design gates.</p>
                </div>
                 <section class="contact bg-light text-center p-4">
                        <h2>Contact Us</h2>
                        <p>
                            
                            👤 Name: Udayveer Singh  📞 Phone: +91 7310980155<br />
                           
                            📍 Location: Near TVS Agency Fariha, Firozabad
                        </p>
                 </section>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6 p-2">
            <div class="card shadow-sm">
                <img src="studio.jpg" class="card-img-top" alt="Balu Cement Store">
                <div class="card-body">
                    <h2>Arohi Super Studio</h2>
                    <p>Your trusted studio for quality photos and videos of weddings and all special occasions</p>
                </div>
                <section class="contact bg-light text-center p-4">
                    <h2>Contact Us</h2>
                    <p>

                        👤 Name: Jagveer Singh  📞 Phone: +91 7302613470<br />
                       
                        📍 Location: Gulamai road Fariha, Firozabad
                    </p>
                </section>
            </div>
        </div>
        <div class="col-md-6 p-2">
            <div class="card shadow-sm">
                <img src="kirana.png" class="card-img-top" alt="Steel Works">
                <div class="card-body">
                    <h2>Arohi Kirana Store</h2>
                    <p>Your trusted store for quality groceries and daily essentials</p>
                </div>
                <section class="contact bg-light text-center p-4">
                    <h2>Contact Us</h2>
                    <p>

                        👤 Name: Jagveer Singh  📞 Phone: +91 7302613470<br />
                       
                        📍 Location:  Gulamai road Fariha, Firozabad
                    </p>
                </section>
            </div>
        </div>
    </div>
</section>

<footer class="footer text-center p-3 bg-dark text-white">
    <h3>© 2025 Arohi Trading Company | All Rights Reserved</h3>
</footer>
